body{
    padding: 0 5%;
    background-color: #f8fafc;
}

a{
    color: black;
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}
.nav-brand{
    display: flex;
    /* gap: 1rem; */
    align-items: center;
}
.nav-brand h2{
    margin: 0;
}
.nav-list ul{
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
    margin: 0;
}