<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Mosnter Hunter Wiki</title>
</head>
<body>
    <nav>
        <div class="nav-brand">
            <a href="">
                <h2>Monster Hunter Wiki</h2>
            </a>
            <div class="nav-list">
                <ul>
                    <li><a href="/armor">Armor</a></li>
                    <li><a href="">Weapon</a></li>
                    <li><a href="">Monster</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-social">
            <a href="" style="font-size:1.5rem ;"><i class="fa-brands fa-github"></i></a>
        </div>
    </nav>