<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <div class="nav-brand">
            <a href="">
                <h2>Monster Hunter Awesome</h2>
            </a>
            <div class="nav-list">
                <ul>
                    <li><a href="/armor">Armor</a></li>
                    <li><a href="">Weapon</a></li>
                    <li><a href="">Monster</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-social">
            <a href="">Github</a>
        </div>
    </nav>